@charset "utf-8";

body{
    font-family: Pretendard, Medium;
    font-size: 20px;
    font-weight: bold;
    color: #003057;
    margin: 0 ;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
}
a{
    color: #003057;
    text-decoration: none;
}
li{list-style: none;}
header{
    width:100%;


}
div#wrap{ 
    width: 1800px;
    height: auto;
    background-color: #fff;
}

div#wrap:after{
    content: "";display: block;clear: both;
} 
div#header{
    width:1800px;
    margin: 0 auto;
    background-color: #fff;

}
div#header:after{
    content: "";display:block;clear: both;}

div#header h1 img{
    width:100px;
    height: 100px;
    display: flex;
    box-sizing: border-box;
    float: left;
    margin: 10px 100px;

}
div#header div.nav{
    width: 1400px;
    height:100px;
    margin-top: 70px;
    line-height: 100px;
    box-sizing: border-box;
    position: relative;
}
ul.gnb {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    display: flex;

}
div#header div.nav ul.gnb ul.submenu {
    width:1760px; position: absolute; z-index: 3;
    background-color: #fff;
    height:1000px;

}
div#header div.nav ul.gnb ul.submenu img{
    width:500px;
    height:300px;
    margin: 40px;
    display: flex;
   


}
ul.gnb li {
    box-sizing: border-box;
    float: left;

    text-align: center;
    flex: 1;
    text-align: center;
}
ul.gnb li a {
    font-size: 14px;
    position: relative;
}
ul.gnb li a:before {
    content: '';
    position: absolute;
    background-color: #ff6600;
    height: 4px;
    width: 0;
    bottom: -10px;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}
    ul.gnb li a:hover:before {
    width: 100%;
}

div#header div.nav ul.gnb > li > ul{
    width:100%; background-color: #fff;
    /* border: 1px solid #ff6600;top:40px; */
    left:0;
    display: none;
}
div#header div.nav ul.gnb li:hover ul{ 
    display: block;
}
div#header div.nav ul.gnb li >ul>li>a{ 
    display: block;
}
div#header div.nav ul.gnb li >ul>li:hover a{
    background-color: #ffffff;
    font-weight: 400;
} 
div#header div.nav ul.gnb li >ul>li>a:hover{ 
    background-color: #fff;
}

