@charset "utf-8";
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Pretendard, Medium;
    font-size: 18px;
    font-weight: 600;
    color: #003057;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
a{
    color: #003057;
    text-decoration: none;
}
li{list-style: none;}
header{
    width:100%;


}
div#wrap{ 
    Width:100%;margin: 0 auto;
    background-color: #fff;
}
header{
    width:1280px;
    margin: 0 auto;
    background-color: #fff;

}
header:after{
    content: "";display:block;clear: both;}

header h1 {
    width:160px;
    float: left;
}
header h1 img{
height:70px;

}
header nav{
    width:1000px; 
    float: left;


}
header nav ul.gnb {
    width:800px;

}
header nav ul.gnb >li {
    width:140px; height:70px;
    text-align: center; 
    line-height: 70px;
    position: relative;
    float: left;

}
header nav ul.gnb >li> ul {
    width:100%;
    position: absolute;
    top:40px;left:0;
    background-color: #E6E6E6;
    z-index:1;
}


ul.gnb li a {
    font-size: 14px;
    position: relative;
}
ul.gnb li a:before {
    content: '';
    position: absolute;
    background-color: #ff6600;
    height: 2px;
    width: 0;
    bottom: -10px;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}
ul.gnb li a:hover:before {
    width: 100%;
}

.tabs {
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.items {
    height: 100vh;
    width: 300%;
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}
.items div {
    height: 100vh;
    float: left;
    width: 33.33333%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items div:nth-child(1) {
background-color: teal;
}
.items div:nth-child(2) {
background-color: dodgerblue;
}
.items div:nth-child(3) {
background-color: yellowgreen;
}
.items div h1 {
font-size: 80px;
font-weight: normal;
color: #fff;
}

.btn {
position: absolute;
bottom: 20px;
/*left: 50%;
transform: translateX(-50%);*/
width: 100%;
text-align: center;
}
.btn label {
display: inline-block;
height: 5px;
width: 50px;
background-color: #fff;
cursor: pointer;
}

input[id=tab1]:checked ~ .tabs .items {
left: 0;
}
input[id=tab2]:checked ~ .tabs .items {
left: -100%;
}
input[id=tab3]:checked ~ .tabs .items {
left: -200%;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
background-color: #000;
}


div.tab-inner input[type="radio"] {
    display: none;
}

.map-frame {
    text-align: center;
    margin: 50px 0;
}
.map-content {
    /* border: 1px solid red; */
    width: 800px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    /* Range : 0~1 or 0~100% */
    /* filter: invert(1);  */
}
.map-frame h1 {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 50px;
    /* display: inline-block; */
}
.map-frame h1:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    background-color: #ff6600;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.map-frame iframe {
    width: 800px;
    height: 500px;
}

footer{
    width:1200px; margin:0 auto;
    background-color:#999;
}
footer:after{
    content:""; display:block;clear:both;
}

footer div.foot_fnb ul.fnb{
    width:700px;
    float: left;
}
footer div.foot_fnb img {
    width:40px;
    height:30px;
    float:right;
    padding:10px 30px; 
}
footer div.foot_fnb ul.fnb > li {
    width: 170px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size:16px;
    float: left;
}
footer div.foot_fnb ul.fnb > li:nth-of-type(2){
    margin:0 50px;
}
footer div.foot_fnb select{
    width:calc(500px / 3);
    margin:15px 15px;
    
}

footer div.foot_left ul.box{
    width:600px;
    padding:0 40px;
}
footer div.foot_left ul.box > ul{
    width:150px;
    float:left;
    font-size:14px;
    text-align:left;
    box-sizing: border-box;
    padding: 0 20px;
    
footer div.foot_left ul.box > ul:nth-of-type(4){
padding-left: 20px;
}
footer div.foot_right p{
    width:400px;
    float:left;
    font-size:10px;
    text-align:left;
    padding-left:30px;
    box-sizing: border-box;
}