@charset "utf-8";
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Pretendard, Medium;
    font-size: 18px;
    font-weight: 600;
    color: #003057;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
a{
    color: #003057;
    text-decoration: none;
}
li{list-style: none;}
header{
    width:100%;


}
div#wrap{ 
    Width:100%;margin: 0 auto;
    background-color: #fff;
}
header{
    width:1280px;
    margin: 0 auto;
    background-color: #fff;

}
header:after{
    content: "";display:block;clear: both;}

header h1 {
    width:160px;
    float: left;
}
header h1 img{
height:70px;

}
header nav{
    width:1000px; 
    float: left;


}
header nav ul.gnb {
    width:800px;

}
header nav ul.gnb >li {
    width:140px; height:70px;
    text-align: center; 
    line-height: 70px;
    position: relative;
    float: left;

}
header nav ul.gnb >li> ul {
    width:100%;
    position: absolute;
    top:40px;left:0;
    background-color: #E6E6E6;
    z-index:1;
}


ul.gnb li a {
    font-size: 14px;
    position: relative;
}
ul.gnb li a:before {
    content: '';
    position: absolute;
    background-color: #ff6600;
    height: 2px;
    width: 0;
    bottom: -10px;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}
ul.gnb li a:hover:before {
    width: 100%;
}

.tabs {
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.items {
    height: 100vh;
    width: 300%;
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}
.items div {
    height: 100vh;
    float: left;
    width: 33.33333%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items div:nth-child(1) {
background-color: teal;
}
.items div:nth-child(2) {
background-color: dodgerblue;
}
.items div:nth-child(3) {
background-color: yellowgreen;
}
.items div h1 {
font-size: 80px;
font-weight: normal;
color: #fff;
}

.btn {
position: absolute;
bottom: 20px;
/*left: 50%;
transform: translateX(-50%);*/
width: 100%;
text-align: center;
}
.btn label {
display: inline-block;
height: 5px;
width: 50px;
background-color: #fff;
cursor: pointer;
}

input[id=tab1]:checked ~ .tabs .items {
left: 0;
}
input[id=tab2]:checked ~ .tabs .items {
left: -100%;
}
input[id=tab3]:checked ~ .tabs .items {
left: -200%;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
background-color: #000;
}


div.tab-inner input[type="radio"] {
    display: none;
}