@charset "utf-8"; 
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css");

li {  list-style: none; }
a {  text-decoration: none;  color: inherit;  }
img {  display: block;  }
body {  font-family: Pretendard, sans-serif; 	color: #003057; font-size: 16px;
  display: flex;  align-items: center;  justify-content: center;  }

* {
  margin: 0;  padding: 0;
  box-sizing: border-box;  border: none;
}

div#wrap {  outline: 1px solid red;
  width: 100%;  height: auto;
}
header {  outline: 1px solid blue;
  width: 1280px; margin: 0 auto;
}
header::after {
  content: ""; display: block; clear: both;
}
header h1 {  outline: 1px solid blue;
  width: 220px; height: 80px; 
  float: left;
}
header h1 img {  outline: 1px solid blue;
  width: 100px;
  margin: 5px auto 0px auto;
}

header nav {  outline: 1px solid blue;
  width: 1060px; height: 80px; 
  position: relative;
  float: right;
}

header nav div.icon {  outline: 1px solid blue;
  width: 220px;  height: 80px;
  padding: 20px 20px; /* !!! 텍스트 아이콘 변경시 패딩값 변경 필수 !!! */
  float: left;
}

header nav div.icon p {  outline: 1px solid blue;
  width: 60px;  height: 40px;
  text-align: center;  line-height: 40px;
  background-color: #f60;
  float: left;
}


header nav ul.gnb {  outline: 1px solid blue;
  width: 840px;
  padding-left: 50px;  padding-right: 10px;
  float: left;
  display: flex;
}

header nav ul.gnb li ul.submenu {  outline: 1px solid blue;
  width: 1000px;  height: 700px;
  background-color: #fff;
  z-index: 2;
}
header nav ul.gnb li ul.submenu img {  outline: 1px solid blue;
  width: 300px;  height: 250px;
  float: left;
  display: flex;
  justify-content: flex-start;
}


header nav ul.gnb > li {  outline: 1px solid red;
  width: 115px;  height: 80px;
  text-align: center;  line-height: 80px;
  margin-right: 40px;
  position: relative; float: left;

  font-size: 18px;  font-weight: 600;
}

/* background-color: rgba(255, 102, 0, .7) */
header nav ul.gnb > li > ul {  outline: 1px solid green;
  width: 100%; 
  font-size: 16px; font-weight: 400;
  position: absolute;
  background-color: rgba(205, 250, 147, .7);
  z-index: 1;
  display: none;
}

header nav ul.gnb:hover > li > ul {
  display: block;
} 

header nav ul.gnb > li > a {
  display: block;
}

header nav ul.gnb > li:hover > a {  background-color: tomato;
  font-weight: bold;
}

header nav ul.gnb > li > ul > li > a {
  display: block;
}
header nav ul.gnb > li > ul > li > a:hover { background-color: tomato;
  font-weight: bold;
}











section {  outline: 1px solid blue;
  width: 1280px;  margin: 0 auto;
}

section div.time {  outline: 1px solid blue;

}