@charset "utf-8"; 
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css");
body { font-family:  Pretendard, sans-serif; }

.mediaViewInfo {
	--web-view-name: 서브;
	--web-view-id: Artboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: 1px dashed red;
}
#Artboard {
	position: absolute;
	width: 1920px;
	height: 2430px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 서브;
	--web-view-id: Artboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	outline: 1px dashed red;
}
#Group {
	opacity: 0.15;
	mix-blend-mode: normal;
	position: absolute;
	width: 1280px;
	height: 1500px;
	left: 320px;
	top: 0px;
	display: none;
	overflow: visible;
}
#Rectangle {
	fill: rgba(112,112,112,1);
}
.Rectangle {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 0px;
	top: 0px;
}
#Rectangle_i {
	fill: rgba(112,112,112,1);
}
.Rectangle_i {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 110px;
	top: 0px;
}
#Rectangle_j {
	fill: rgba(112,112,112,1);
}
.Rectangle_j {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 220px;
	top: 0px;
}
#Rectangle_k {
	fill: rgba(112,112,112,1);
}
.Rectangle_k {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 330px;
	top: 0px;
}
#Rectangle_l {
	fill: rgba(112,112,112,1);
}
.Rectangle_l {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 440px;
	top: 0px;
}
#Rectangle_m {
	fill: rgba(112,112,112,1);
}
.Rectangle_m {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 550px;
	top: 0px;
}
#Rectangle_n {
	fill: rgba(112,112,112,1);
}
.Rectangle_n {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 660px;
	top: 0px;
}
#Rectangle_o {
	fill: rgba(112,112,112,1);
}
.Rectangle_o {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 770px;
	top: 0px;
}
#Rectangle_p {
	fill: rgba(112,112,112,1);
}
.Rectangle_p {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 880px;
	top: 0px;
}
#Rectangle_q {
	fill: rgba(112,112,112,1);
}
.Rectangle_q {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 990px;
	top: 0px;
}
#Rectangle_r {
	fill: rgba(112,112,112,1);
}
.Rectangle_r {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 1100px;
	top: 0px;
}
#Rectangle_s {
	fill: rgba(112,112,112,1);
}
.Rectangle_s {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 1500px;
	left: 1210px;
	top: 0px;
}
#Foot {
	position: absolute;
	width: 1280px;
	height: 270px;
	left: 319px;
	top: 2160px;
	overflow: visible;
}
#fnb {
	fill: rgba(255,255,255,1);
}
.fnb {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 270px;
	left: 0px;
	top: 0px;
}
#n_________________63_50_63__2- {
	left: 728px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 485px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#n____ {
	left: 68px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 91px;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#n_____x {
	left: 221px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#n_ {
	mix-blend-mode: normal;
	position: absolute;
	width: 135px;
	height: 76px;
	left: 373px;
	top: 84px;
	overflow: visible;
}
#n_APP_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#Text {
	left: 0px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#GOOGLE_PLAY {
	left: 23px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#Text_ {
	left: 0px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Free Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#APP_STORE_ {
	left: 23px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#sns_ {
	mix-blend-mode: normal;
	position: absolute;
	width: 82px;
	height: 91px;
	left: 558px;
	top: 89px;
	overflow: visible;
}
#naver_icon {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 1px;
	top: 73px;
	overflow: visible;
}
#Text_ba {
	left: 1px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,48,87,1);
}
#Text_bb {
	left: 1px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,48,87,1);
}
#Text_bc {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Brands;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#Text_bd {
	left: 27px;
	top: 72px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#Text_be {
	left: 27px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#Text_bf {
	left: 27px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#Text_bg {
	left: 27px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,48,87,1);
}
#FNB_bd {
	position: absolute;
	width: 1280px;
	height: 80px;
	left: 319px;
	top: 2080px;
	overflow: visible;
}
#FNB_be {
	fill: rgba(0,48,87,1);
	stroke: rgba(0,48,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.FNB_be {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#n__bf {
	left: 222px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Text_bh {
	left: 70px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#n__bh {
	left: 440px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#top {
	left: 1210px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Free Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#n_2 {
	position: absolute;
	width: 150px;
	height: 30px;
	left: 990px;
	top: 25px;
	overflow: visible;
}
#n_1 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1 {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Text_bl {
	left: 125px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Free Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_1_bm {
	position: absolute;
	width: 150px;
	height: 30px;
	left: 770px;
	top: 25px;
	overflow: visible;
}
#n_2_bn {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2_bn {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Text_bo {
	left: 125px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Free Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#FAMILY_SITE {
	left: 1010px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#KOR {
	left: 790px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Group_br {
	position: absolute;
	width: 1279px;
	height: 200px;
	left: 320px;
	top: 1880px;
	overflow: visible;
}
#Banner {
	fill: transparent;
	stroke: rgba(0,48,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Banner {
	position: absolute;
	overflow: visible;
	width: 1279px;
	height: 200px;
	left: 0px;
	top: 0px;
}
#Text_bt {
	left: 587.5px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: center;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,48,87,1);
}
#Group_bu {
	position: absolute;
	width: 1280px;
	height: 200px;
	left: 320px;
	top: 1680px;
	overflow: visible;
}
#n_sub_Banner {
	fill: transparent;
	stroke: rgba(0,48,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_sub_Banner {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 200px;
	left: 0px;
	top: 0px;
}
#Text_bw {
	left: 588px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: center;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,48,87,1);
}
#Sub_Banner {
	position: absolute;
	width: 1280px;
	height: 400px;
	left: 320px;
	top: 1280px;
	overflow: visible;
}
#Sub_Banner_by {
	fill: transparent;
	stroke: rgba(0,48,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Sub_Banner_by {
	position: absolute;
	overflow: visible;
	width: 640px;
	height: 400px;
	left: 640px;
	top: 0px;
}
#Sub_Banner_bz {
	fill: transparent;
	stroke: rgba(0,48,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Sub_Banner_bz {
	position: absolute;
	overflow: visible;
	width: 640px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#Group_b {
	position: absolute;
	width: 1280px;
	height: 200px;
	left: 320px;
	top: 1080px;
	overflow: visible;
}
#sub_Banner {
	fill: transparent;
	stroke: rgba(0,48,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.sub_Banner {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 200px;
	left: 0px;
	top: 0px;
}
#n_10 {
	opacity: 0.7;
	fill: rgba(230,230,230,1);
}
.n_10 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 130px;
	left: 0px;
	top: 70px;
}
#Text_b {
	left: 597px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,48,87,1);
}
#Text_ca {
	left: 70px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,48,87,1);
}
#n__1030_AM_-_800_PM_718__GOURM {
	left: 70px;
	top: 123px;
	position: absolute;
	overflow: visible;
	width: 547px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#Main_Banner {
	position: absolute;
	width: 1280px;
	height: 1000px;
	left: 320px;
	top: 80px;
	overflow: visible;
}
#Main_Banner_b {
	fill: transparent;
	stroke: rgba(0,48,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Main_Banner_b {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 1000px;
	left: 0px;
	top: 0px;
}
#TIME_WORLD {
	left: 40px;
	top: 468px;
	position: absolute;
	overflow: visible;
	width: 363px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,48,87,1);
}
#Text_cb {
	left: 597px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,48,87,1);
}
#GNB {
	position: absolute;
	width: 1px;
	height: 1px;
	left: -4265px;
	top: -2705px;
	overflow: visible;
}
#Logo {
	display: none;
	left: 4655px;
	top: 2720px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: bold;
	font-size: 43px;
	color: rgba(0,48,87,1);
}
#GNB_cc {
	position: absolute;
	width: 1300px;
	height: 80px;
	left: 320px;
	top: 0px;
	overflow: visible;
}
#GNB_cd {
	fill: rgba(255,255,255,1);
}
.GNB_cd {
	position: absolute;
	overflow: visible;
	width: 1300px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#Logo_ce {
	display: none;
	left: 81.094px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,48,87,1);
}
#galleria {
	position: absolute;
	width: 97.5px;
	height: 71.094px;
	left: 81.094px;
	top: 5px;
	overflow: visible;
}
#Text_cg {
	left: 304px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#Text_ch {
	left: 462.969px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#Text_ci {
	left: 626.484px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#Text_cj {
	left: 768.672px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#Text_ck {
	left: 910.859px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,48,87,1);
}
#Group_cl {
	position: absolute;
	width: 132.656px;
	height: 27px;
	left: 1085.547px;
	top: 27px;
	overflow: visible;
}
#Text_cm {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Free Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,48,87,1);
}
#Text_cn {
	left: 52.813px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Free Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,48,87,1);
}
#Text_co {
	left: 107.656px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Font Awesome 6 Free Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,48,87,1);
}
#n_11 {
	fill: rgba(255,102,0,1);
}
.n_11 {
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 7px;
	left: 610px;
	top: 60px;
}